<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci minha Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/senha.css') }}">
    <link rel="icon" href="/static/img/logo laranja.png">
</head>
<body>
    <div class="form-container">
        <!-- Aba de navegação (opcional, caso queira mais abas) -->
        <div class="tabs">
            <a href="{{ url_for('forgot_password') }}" class="active">Recuperar a senha</a>
        </div>

        <!-- Conteúdo do formulário de esqueci a senha -->
        <div class="form-box">
            <h2>Esqueceu sua senha? Digite seu e-mail e enviaremos um código para a redefinição</h2>
            <form method="POST" action="{{ url_for('forgot_password') }}">
                <label for="email">Digite seu e-mail:</label>
                <input type="email" name="email" id="email" required placeholder="Seu e-mail">

                <button type="submit">Enviar código</button>
            </form>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            {% if success %}
                <p class="success">{{ success }}</p>
            {% endif %}
        </div>

        
        <div class="links-abaixo">
            <a href="{{ url_for('login') }}">Voltar ao login</a>
           
        </div>
    </div>
</body>
</html>
